{% extends 'base.html' %}

{% block header %}
<div class="alert alert-danger" role="alert">
    <h3>❗現在工事中❗健康記録のページ</h3>
    <a href="{% url 'list' %}" class="btn btn-info" role="button" aria-pressed="true">掲示板に戻る🔼</a>
    <a href="{% url 'health' %}" class="btn btn-info" role="button" aria-pressed="true">ログアウト🚪</a>
</div>

{% endblock header %}

{% block content %}
{% if user.is_authenticated %}
<form method="POST" enctype="multipart/form-data">{% csrf_token %}
    <p>日にち📆：<input type="text" name="title"></p>
    <p>今日のコンディション📄：<input type="text" name="content"></p>
    <p>エサの種類🍅：<input type="text" name="content"></p>
    <p>あなたのお名前😊：{{user.username}} さん</p>
    <input type="hidden" name="author" value="{{user.username}}">
    <p>お写真📷：<input type="file" name="snsimage"></p>
    <input type="submit" value="投稿する！📮">
</form>
{% else %}
You are not logged in yet! Please login first! 
<a href="{% url 'login' %}" >loginはこちらから</a>
{% endif %} 
{% endblock content %}

